<app-header title="Card"></app-header>

<ion-content padding>
  <ion-card mode="ios" color="dark">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitulo</ion-card-subtitle>
      <ion-card-title>Card Sorting</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      El Card Sorting, conocido también como ordenación por tarjetas, es un término que se utiliza para referirse a la técnica a través de la cual se puede observar el comportamiento de los usuarios y cuál creen que es la mejor forma de organizar los contenidos en sus diferentes categorías. Es un planteamiento de análisis que requiere de la intervención de usuarios para 
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" color="dark">
    <ion-item color="dark">
      <ion-icon color="light" slot="start" name="newspaper-sharp"></ion-icon>
      <ion-label>Informacion Util</ion-label>
    </ion-item>
    <ion-card-content>
      El Parque Ñu Guasu es un área verde de 25 ha. aproximadamente, ubicada en Luque, ciudad del Departamento Central de Paraguay, próximo al Aeropuerto Internacional Silvio Pettirossi.
    </ion-card-content>
    <ion-card-content>
      <ion-img src="./assets/park.jpg"></ion-img>
    </ion-card-content>
    <ion-card-content>
      El parque es de acceso libre y gratuito; cuenta actualmente con un circuito de 5.000 metros y un carril para el tránsito de bicicletas interno de 1.200 metros. Además, posee canchas de fútbol, vóley, básquet y tenis. También hay espacios para parques infantiles y área de gimnasia.

      Desde el centro de la ciudad de Asunción se tiene acceso al parque por la Av. España, que desde la Av. San Martín lleva el nombre de Av. Aviadores del Chaco (o también conocida como Autopista). También se puede acceder partiendo desde el centro de Asunción por la Av. Mariscal López hasta llegar a Av. Madame Lynch (o Calle Última) y girar a la izquierda para ir hacia el cruce entre Av. Aviadores del Chaco y finalmente girar a la derecha para ir al Parque Ñu Guazú o a Luque.
    </ion-card-content>
  </ion-card>
</ion-content>