<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaulHref="/"></ion-back-button>
    </ion-button>
    
    <ion-title>Avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="./assets/avatar.png">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-avatar slot="start">
        <img src="./assets/001-superman.png" alt="">
      </ion-avatar>
      <ion-label>
        Superman
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="./assets/002-batman.png" alt="">
      </ion-avatar>
      <ion-label>
        Batman
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="./assets/003-spiderman.png" alt="">
      </ion-avatar>
      <ion-label>
        Spider Man
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="./assets/004-deadpool.png" alt="">
      </ion-avatar>
      <ion-label>
        Dead Pool
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="./assets/005-wolverine.png" alt="">
      </ion-avatar>
      <ion-label>
        Wolverine
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>