<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button routerLink="/alert">
  <ion-icon color= "dark" slot="start" name="alert-outline"></ion-icon>  
    Alerta
  </ion-button>

  <ion-button routerLink="/action-sheet">
  <ion-icon color= "dark" slot="start" name="magnet-outline"></ion-icon>
    Action-Sheet
  </ion-button>

  <ion-button routerLink="/avatar">
  <ion-icon color= "dark" slot="start" name="person-outline"></ion-icon>
    Avatar
  </ion-button>

  <ion-button routerLink="/botones">
  <ion-icon color= "dark" slot="start" name="radio-button-off-outline"></ion-icon>
    Botones
  </ion-button>

  <ion-button routerLink="/card">
  <ion-icon color= "dark" slot="start" name="card-outline"></ion-icon>
    Card
  </ion-button>

  <ion-button routerLink="/check">
    <ion-icon color= "dark" slot="start" name="checkmark-done-outline"></ion-icon>
      Check
    </ion-button>

    <ion-card mode="ios" color="dark">
      <ion-card-content>
        <ion-img src="./assets/cerro.png"></ion-img>
      </ion-card-content>
      <ion-card-content>
        Excelente curso sobre esta herramienta muy buena y practica a la hora de realizar app para dispositivos moviles.
        Muchas gracias por la los conocimientos que adquirimos. Saludos y buena suerte a todos !.
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>JOSE MIGUEL CARBALLO RENAUT</ion-title>
  </ion-toolbar>
</ion-footer>




